{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start Profile Details Section -->
    <div class="profile">

        <!-- Start Profile Personal Data Section -->
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">

                    <!-- Profile Image -->
                    {% if object.user_photo %}
                        <img src="/media/{{ object.user_photo }}" alt="profile-img">
                        {% else %}
                    <img src="{% static 'images/person.png' %}" alt="img8">
                    {% endif %}
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <!-- User Username -->
                    <p>{{object.username}}</p>

                    <!-- IF the viewer is the owner of the profile -->
                    <!-- Link to Edit Profile Page -->
                    {% if is_owner %}
                    <a href="{% url 'profile-edit' pk=object.pk %}">
                        <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                    </a>

                    <!-- Link to Delete Profile Page -->
                    <a href="{% url 'profile-delete' pk=object.pk %}">
                        <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                    </a>
                    {% endif %}
                    <!-- End IF the viewer is the owner of the profile -->

                </div>
                <div class="data">

                    <!-- Total Number of Photos by the User -->
                    <span>{{ photos_count }}</span>
                    <p>photos</p>

                    <!-- Total Number of Pets owned by the User -->
{#                    <span>{{ object.pet_set.count}}</span>#}
                    <span>{{ pets_count }}</span>
                    <p>pets</p>

                    <!-- Total Number of Likes for the User -->
                    <span>{{likes}}</span>
                    <p>likes</p>
                </div>
                <!-- User First and Last Name IF Added -->
            {% if object.get_full_name %}
                <h3 class="names">{{ object.get_full_name}}</h3>
            {% endif %}

                <!-- User Email Address -->
                <p class="email">{{ object.email }}</p>

                <!-- User Gender IF Added -->
            {% if object.gender %}
                <p class="gender">{{ object.gender }}</p>
            {% endif %}
            </div>
        </div>
        <!-- End Profile Personal Data Section -->

        <!-- Start Pets Data Section -->
        <div class="pets">
            <div class="statuses">

                {% for pet in object.pet_set.all %}

                <!-- Start 1st Pet Details Page -->
                <!-- Link to First Pet Details Page -->
                <a href="{% url 'pet-details' username=object.username pet_slug=pet.slug %}">
                    <div class="head-pet">
                        <div class="status">
                            <div class="image">
                                <!-- Pet Image -->
                                <img src="{{ pet.personal_photo }}" alt="pet img">
                            </div>
                        </div>

                        <!-- Pet Name -->
                        <p>{{ pet.name }}</p>

                    </div>
                </a>
                {% endfor %}

            </div>
        </div>
        <!-- End Pets Data Section -->

        <!-- Start Last Uploaded Photos Section -->
        <div class="pet-photos">
            {% for photo in object.photo_set.all %}
            <!-- Link to Last Uploaded Pet Photo -->
            <a href="{% url 'photo_details' pk=photo.pk %}">
                <!-- Pet Photo -->
               <img src="/media/{{ photo.photo }}" alt="pet-img">
            </a>
            {% endfor %}

        </div>
        <!-- End Last Uploaded Photos Section -->

    </div>
    <!-- End Profile Details Section -->
{% endblock %}
