{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="pet-profile">
        <div class="profile">
            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <img src="{{ pet.personal_photo }}"
                             alt=" image of {{ pet.name }}">
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <p>{{ pet.name }}</p>
                        {% if pet.user == request.user %}
                        <a href="{% url 'pet-edit' username='kosta1126' pet_slug=pet.slug %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>
                        <a href="{% url 'pet-delete' username='kosta1126' pet_slug=pet.slug %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                        {% endif %}
                    </div>
                    <div class="data">
                        <span>{{ photos_count }}</span>
                        <p>photos</p>
                    </div>
                    <h5>Date of birth: </h5>
                    <h5>{{ pet.date_of_birth }}</h5>
                </div>
            </div>
        </div>
        <div class="pet-posts">

            {% for photo in pet_photos %}
                {% include 'partials/photo_item.html' with photo=photo %}
            {% empty %}
                <img class="no-posts" src="{% static 'images/no_posts.png' %}" alt="no posts image">
            {% endfor %}


        </div>
    </div>
{% endblock %}