{% extends 'base.html' %}
{% block content %}

    <!-- Start Add Pet Section-->
    <div class="edit-delete edit-photo">
        <h2>Add pet</h2>

        <!-- Start Add Pet Form -->
        <form method="post" action="{% url 'add-pet-page' %}">
            {{ form.as_p }}

            <!-- Add Pet Button -->
            <button class="add-btn" type="submit">Add Pet</button>
            {% csrf_token %}
        </form>
        <!-- End Add Pet Form -->

    </div>
    <!-- End Add Pet Section -->
{% endblock %}

